---
title: Fisdom Mobile Apps - Uncommon is helping Fisdom
---

<main class="case-study case-study-fisdom">
  <header class="hero-section">
    <div class="hero-section-content">
      <div class="article-header">
        <nav class="breadcrumbs">
            <a href="/helping">Recent Work</a> /
            <span>Fisdom: Mobile Apps</span>
        </nav>

        <h1 class="article-title">
          Who says investing can't be fun!
        </h1>
        <h2 class="article-subtitle">
          We gave Fisdom’s Android and iOS apps a fun twist to make it appealing to a young userbase.
        </h2>
      </div>
    </div>
  </header>

  <section class="container article-section article-metadata">
    <div class="content">
      <div>
        <h2>What we did</h2>
        <ul>
          <li>iOS app design</li>
          <li>Android app design</li>
        </ul>
      </div>

      <div>
        <h2>Domain</h2>
        <ul>
          <li>Finance</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="container article-section article-text">
    <div class="content">
      <p>Fisdom aims to help people invest intelligently without making it rocket science. To solve this, their investment process is reversed - you set a goal and start towards that amount in monthly steps.</p>

      <h2>If it’s not broken, don’t fix it!</h2>
      <p>During the discovery phase, we figured Fisdom had their major use-cases and  flows nailed down quite well. What could be improved was a visual coherence in the app that would make it playful, fun to use.</p>
    </div>
  </section>

  <section class="container article-section article-screen article-screen-large">
    <div class="content">
      <div class="screen">
        <span class="iphone-screen iphone-screen-large">
          <%= image_tag "fisdom/visual_oomph_1.jpg" %>
        </span>
      </div>

      <div class="article-section-caption">
        <h2>Visual Oomph</h2>
        <p>Added visual associations with all goals and numbers. This way the user has a better way to plan for his investments.</p>
      </div>
    </div>

    <div class="content">
      <div class="screen">
        <span class="iphone-screen iphone-screen-large">
          <%= image_tag "fisdom/visual_oomph_2.jpg" %>
        </span>
      </div>

      <div class="article-section-caption">
        <h2>Visual Oomph</h2>
        <p>Added visual associations with all goals and numbers. This way the user has a better way to plan for his investments.</p>
      </div>
    </div>
  </section>

  <section class="container article-section article-screen article-screen-list">
    <div class="content">
      <div class="article-section-caption">
        <h2>Friendly error messages, Smart Empty States & Feedbacks</h2>
        <p>Friendly and fun error messages, and smart empty states that guide users towards actions.</p>
      </div>

      <ul class="screen-list iphone-screen-list">
        <li class="iphone-screen iphone-screen-white"><%= image_tag "fisdom/friendly_1_error_message.jpg" %></li>
        <li class="iphone-screen iphone-screen-white"><%= image_tag "fisdom/friendly_2_empty_state.jpg" %></li>
        <li class="iphone-screen iphone-screen-white"><%= image_tag "fisdom/friendly_3_feedback.jpg" %></li>
      </ul>

    </div>
  </section>  

</main>
