---
title: Groupon Go App - Uncommon is helping Groupon
---

<h1 id="home-link"><a href="/">uncommon</a></h1>

<main role="main" class="case-study case-study-groupon">
  <header class="hero-section">
    <div class="hero-section-content">
      <div class="article-header">
        <nav class="breadcrumbs">
          <a href="/helping">Recent Work</a> /
          <span>Groupon Go Mobile App</span>
        </nav>

        <h1 class="article-title">Great experiences around you</h1>
        <h2 class="article-subtitle">Uncommon created a simple way for mobile users to find and enjoy great experiences around them.</h2>
      </div>
    </div>
  </header>

  <section class="container article-section article-metadata ">
    <div class="content">
      <div>
        <h2>What we did</h2>
        <ul>
          <li>Product Conceptualization</li>
          <li>UK/UX</li>
        </ul>
      </div>

      <div>
        <h2>Domain</h2>
        <ul>
          <li>Hyperlocal</li>
          <li>eCommerce</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="container article-section article-text">
    <div class="content">
      <p>Known as the world's fastest growing business with a formidable presence in nearly 50 countries, Groupon is India's favourite daily deals service with the best local offers on apparel, fine dining, entertainment, wellness and travel on the web. So when Groupon India wanted to  reach its users with a whole new way to find deals on the move, we jumped at the chance to take a crack at it—fully aware that we would have to go beyond the brief to build something useful, usable and delightful.</p>
    </div>
  </section>

  <section class="container article-section article-text">
    <div class="content">
      <p>Delving into Groupon's analytics and researching user behaviour, we understood that contextless maps do little to tempt users to buy things. So we decided to go back to the drawing board and answer a few important questions:</p>
      
      <ul>
        <li>How do shoppers look for deals?</li>
        <li>What excites shoppers?</li>
        <li>How can we simplify the Groupon experience on a mobile device?</li>
        <li>What are Groupon users like?</li>
      </ul>

      <p>We quickly realised that Groupon users have varied interests and look for deals that pertain to them—and that, on mobile platforms, it is more important to present appealing deals rather than just offer the tools to find them. So we ditched the map, and focussed on building an intuitive app that did away with complicated procedures and underused features. The result: Groupon Go.</p>
    </div>
  </section>

  <section class="container article-section article-screen article-screen-list">
    <div class="content">
      <div class="article-section-caption">
        <h2>Streamlined Interface</h2>
        <p>Groupon Go ushers in a streamlined user experience that everybody can get behind. Attractive and informative icons, legible typography and clean layouts not only help users get around the app with ease, but also allow deals—the real heroes—to take center stage and draw users in.</p>
      </div>

      <ul class="screen-list iphone-screen-list">
        <li class="iphone-screen"><%= image_tag "groupon/interface_01_home.jpg" %></li>
        <li class="iphone-screen"><%= image_tag "groupon/interface_02_region.jpg" %></li>
        <li class="iphone-screen"><%= image_tag "groupon/interface_03_search.jpg" %></li>
        <li class="iphone-screen"><%= image_tag "groupon/interface_04_search.jpg" %></li>
        <li class="iphone-screen"><%= image_tag "groupon/interface_05_detail.jpg" %></li>
      </ul>
    </div>
  </section>

  <section class="container article-section article-screen article-screen-large">
    <div class="content">
      <div class="screen">
        <span class="iphone-screen iphone-screen-large">
          <%= image_tag "groupon/decluttered.jpg" %>      
        </span>
      </div>
      <div class="article-section-caption">
        <h2>Decluttered Choices</h2>
        <p>Instead of prompting users to filter out deals they might avail of from an extensive list, the app only asks users to pick a few areas of interest and then takes care of the heavy lifting. By using the device's location data and actively learning about users' habits within the app, Groupon Go displays only those deals that users will care about at the time and place they launch the app — bringing them closer to experiences they will cherish.</p>
      </div>
    </div>
  </section>

  <section class="container article-section article-screen article-screen-list">
    <div class="content">
      <div class="article-section-caption">
        <h2>Simplified Onboarding</h2>
        <p>Using phone number for signing up simplifies the onboarding process, which also allows users to customize their experience of the app.</p>
      </div>
      <ul class="screen-list iphone-screen-list">
        <li class="iphone-screen"><%= image_tag "groupon/onboarding_01.jpg" %></li>
        <li class="iphone-screen"><%= image_tag "groupon/onboarding_02.jpg" %></li>
        <li class="iphone-screen"><%= image_tag "groupon/onboarding_03.jpg" %></li>
      </ul>
    </div>
  </section>

  <section class="container article-section article-screen article-screen-list">
    <div class="content">
      <div class="article-section-caption">
        <h2>Seamless Payment Flow</h2>
        <p>The payment flow is seamless, which makes it pleasant for the users. At the same time, for Groupon this works very well as there are fewer drop-offs.</p>
      </div>
      <ul class="screen-list iphone-screen-list">
        <li class="iphone-screen iphone-screen-list">
          <%= image_tag "groupon/payment_01.jpg" %>
        </li>
        <li class="iphone-screen iphone-screen-list">
          <%= image_tag "groupon/payment_02.jpg" %>
        </li>
        <li class="iphone-screen iphone-screen-list">
          <%= image_tag "groupon/payment_03.jpg" %>
        </li>
      </ul>
    </div>
  </section>

<!--   <section class="container article-section article-screen article-screen-slideshow">
    <div class="content">
      <div class="article-section-caption">
        <h2>Seamless Payment Flow</h2>
        <p>The payment flow is seamless, which makes it pleasant for the users. At the same time, for Groupon this works very well as there are fewer drop-offs.</p>
      </div>
      <ul class="image-slideshow iphone-screen-slideshow">
        <li class="iphone-screen iphone-screen-large">
          <%= image_tag "groupon/payment_01.jpg" %>
          <figcaption class="slideshow-caption">Little details, like displaying payment options in a bottom-drawer instead of its own screen, increase the perceptible speed of experience.</figcaption>
        </li>
        <li class="iphone-screen iphone-screen-large">
          <%= image_tag "groupon/payment_02.jpg" %>
          <figcaption class="slideshow-caption">Little details, like displaying payment options in a bottom-drawer instead of its own screen, increase the perceptible speed of experience.</figcaption>
        </li>
        <li class="iphone-screen iphone-screen-large">
          <%= image_tag "groupon/payment_03.jpg" %>
          <figcaption class="slideshow-caption"> Saved cards in a visually interesting way for faster checkouts.</figcaption>
        </li>
      </ul>
    </div>
  </section> -->
</main>
