---
title: Uncommon
---

<h1 id="home-link"><a href="/">uncommon</a></h1>

<section class="container uncommon-intro">
  <div class="content">
    <p>We help startups and established companies like Flipkart, Tata Consultancy Services, Groupon, Newshunt, Swiggy and IBM design and build digital products for human beings.</p>
    <p>If you struggle to connect with people through their devices, <a href="mailto:hello@uncommon.is">we can help.</a></p>
  </div>
</section>

<%= partial "helping/client_summary", locals: {client: "myntra"} %>
<%= partial "helping/client_summary", locals: {client: "groupon"} %>
<%= partial "helping/client_summary", locals: {client: "fisdom"} %>

<section class="client-list">
  <h2>Clients</h2>
  <%= client_list %>
</section>

<section class="container about">
  <%= partial "text/about.html.markdown" %>
</section>

